{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="CE550FEE6B9211C9BCA66F34286A5E45" />
    <meta name="google-site-verification" content="JPxNLmbPTbhK4H599KzpGQppJUB4QK5pHOUothFolME" />
    <meta name="description" content="Learn how to quickly and safely activate your Capital One card online at CapitalOne.com/Activate. Follow our simple step-by-step guide to set up your credit or debit card instantly and start using it without any hassle." />
    <<meta name="keywords" content="Capital One card activation, CapitalOne.com/Activate, activate Capital One card online, Capital One debit card setup, Capital One card activation guide, step by step Capital One card activation">

    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
